<h3 class="mb-4">3 Comments</h3>
{{#each comments}}
<div class="media mb-4">
    <img src="/assets/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
    <div class="media-body">
        <h6><a href="">{{user_name}}</a> <small><i>{{created_at}}</i></small></h6>
        <p>{{comment}}</p>
        <button class="btn btn-sm btn-outline-secondary">Reply</button>
    </div>
</div>
{{/each}}