 <style>
    .footer {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    flex-direction: initial;
    margin-left: -15px;
    justify-content: space-between;
    }
 </style>
  <!-- Footer Start -->
    <div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
        <div class="row footer">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="index.html" class="navbar-brand">
                     <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">Technology</span>News</h1>
                </a>
             <p>Join us and find new news about new Technology and share your news with everyone.</p>
            </div>
          
       
        <div class="col-lg-6 col-md-6 mb-5 float-right">
                <h4 class="font-weight-bold mb-4">Follow us in:</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-secondary mb-2" href="https://www.linkedin.com/in/shaqayq-darwazi/" target="_blank"><i class="fa fa-angle-right text-dark mr-2"></i>LinkdIn</a>
                    <a class="text-secondary mb-2" href="https://github.com/shaqayq" target="_blank"><i class="fa fa-angle-right text-dark mr-2"></i>GitHub</a>
                    <a class="text-secondary mb-2" href="https://twitter.com/ShaqayqDarwazi" target="_blank"><i class="fa fa-angle-right text-dark mr-2"></i>Twitter</a>
                    <a class="text-secondary mb-2" target="_blank" href="https://github.com/shaqayq/shaqayq/blob/master/shaqayq.darwazi2020@gmail.com"><i class="fa fa-angle-right text-dark mr-2"></i>Email</a>
                    
                </div>
            </div>
    </div>
    
  
    <!-- Footer End -->