 <style>
    .btn {
        background-color: #cb0c9f;
    color: #fff;
    }
    .error-messages{
     
     color: red;
     border: 1px red solid;
    border-radius: 20px;
    margin: 20px;
    }

    .error-messages li {
       list-style-type: none; 
    }
 </style>
 <div class="container-fluid py-4">
     
      <div class="row">
        <div class="col-12">
          <div class="card z-index-0">
              <div class="card-header text-center pt-4">
                <h5>Edit Post</h5>
              </div>
           
           
              <div class="card-body">
                <form role="form text-left" action="/post/update/{{post.id}}" method="post" enctype="multipart/form-data">
                 <div class="row">
                    <div class="mb-3 col-lg-6">
                        <label>Post Title:</label>
                    <input type="text" class="form-control" placeholder="Title" aria-label="Title" name="title" value="{{post.title}}">
                
                  </div>
                  <div class="mb-3 col-lg-6">
                     <label>Post Slug:</label>
                    <input type="text" class="form-control" placeholder="Slug" aria-label="Slug" name="slug" value="{{post.slug}}">
                  </div>
                 </div>
                    <div class="row">
                   <div class="mb-3  col-lg-6">
                     <label>Post Content:</label>
                   <textarea name="content" class="form-control" aria-label="Content" aria-describedby="email-addon" heigth="200px">{{post.content}}</textarea>
                  </div>

                    <div class="mb-3 col-lg-6">
                        <label>Post Image:</label>
                    <input type="file" class="form-control" placeholder="Title" aria-label="Title" name="img" >
                
                  </div>
                 </div>
                
                  <h6>Status</h6>
                  <div class="form-check ">
                    <input class="form-check-input" type="radio" name="status" value="0" id="flexCheckDefault" {{#isSelectedStatus 0}} checked{{/isSelectedStatus}}><p>Draft</p>
                  </div>
                  <div class="form-check  ">
                    <input class="form-check-input" type="radio" name="status" value="1" id="flexCheckDefault" {{#isSelectedStatus 1}} checked{{/isSelectedStatus}}><p>Publication</p>
                  </div>
                   <div class="form-check  ">
                    <input class="form-check-input" type="radio" name="status" value="2" id="flexCheckDefault" {{#isSelectedStatus 2}} checked{{/isSelectedStatus}}><p>Under Review</p>
                  </div>
                
                  <div class="text-center">
                    <button type="submit" class="btn my-4 mb-2" style="">UPDATE POST</button>
                  </div>
                 
                </form>
              </div>
            </div>
        </div>
      </div>
     
    </div>