 <style>
    .btn {
        background-color: #cb0c9f;
    color: #fff;
    }
    .error-messages{
     
     color: red;
     border: 1px red solid;
    border-radius: 20px;
    margin: 20px;
    }

    .error-messages li {
       list-style-type: none; 
    }
 </style>
 <div class="container-fluid py-4">
     
      <div class="row">
        <div class="col-12">
          <div class="card z-index-0">
              <div class="card-header text-center pt-4">
                <h5>Settings</h5>
              </div>
             {{#if errors}}
              <div class="error-messages">
                <ul>
                  {{#each errors}}
                    <li>{{msg}}</li>
                  {{/each}}
                </ul>
              </div>
            {{/if}} 
              <div class="card-body">
                <form role="form text-left" action="/setting/store" method="post">
                 <div class="row">
                    <div class="mb-3 col-lg-6">
                        <label>General:</label>
                    <input type="text" class="form-control" placeholder="WebSit Title.." aria-label="Title" name="websit_title">
                
                  </div>
                  <div class="mb-3 col-lg-6">
                     <label>Content:</label>
                    <input type="number" class="form-control" placeholder="Page Content Number ..." aria-label="Slug" name="content_per_page">
                  </div>
                 </div>
                  
                  <div class="mb-3">
                     <label>Detail:</label>
                   <textarea name="details" class="form-control" aria-label="Content" aria-describedby="email-addon" heigth="200px"></textarea>
                  </div>
                  <h6>Status</h6>
                  <div class="form-check ">
                    <input class="form-check-input" type="checkbox" name="user_can_register" value="1" id="flexCheckDefault" ><p>Every one can register in site</p>
                  </div>
                  <div class="form-check  ">
                    <input class="form-check-input" type="checkbox" name="user_can_submit_comment" value="1" id="flexCheckDefault"><p>Every one can add comment</p>
                  </div>
                
                  <div class="text-center">
                    <button type="submit" class="btn my-4 mb-2" style="">ADD POST</button>
                  </div>
                 
                </form>
              </div>
            </div>
        </div>
      </div>
     
    </div>