 <style>
    .btn {
        background-color: #cb0c9f;
    color: #fff;
    }
    .error-messages{
     
     color: red;
     border: 1px red solid;
    border-radius: 20px;
    margin: 20px;
    }

    .error-messages li {
       list-style-type: none; 
    }
 </style>
 <div class="container-fluid py-4">
     
      <div class="row">
        <div class="col-12">
          <div class="card z-index-0">
              <div class="card-header text-center pt-4">
                <h5>Edit User</h5>
              </div>
         
            {{#each user}}
          
           
              <div class="card-body">
                <form role="form text-left" action="/user/update/{{id}}" method="post" enctype="multipart/form-data">
                 <div class="row">
                    <div class="mb-3 col-lg-6">
                        <label>Full_Name:</label>
                    <input type="text" class="form-control" placeholder="full_name.." aria-label="Title" name="full_name" value="{{full_name}}">
                
                  </div>
                  <div class="mb-3 col-lg-6">
                     <label>Email:</label>
                    <input type="text" class="form-control" placeholder="email.." aria-label="Slug" name="email" value="{{email}}">
                  </div>
                 </div>
                  
                   <div class="row">
                    <div class="mb-3 col-lg-6">
                      <label>password:</label>
                      <input type="password" class="form-control" placeholder="password.." aria-label="Slug" name="password">
                    </div>
                     <div class="mb-3 col-lg-6">
                        <label>Profile photo:</label>
                    <input type="file" class="form-control" placeholder="Title" aria-label="Title" name="img">
                
                  </div>
                  </div>

                  <h6>Status</h6>
                  <div class="form-check ">
                    <input class="form-check-input" type="radio" name="role" value="0" id="flexCheckDefault" {{#isSelectedRole 0}} checked{{/isSelectedRole}}><p>User</p>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="1" id="flexCheckDefault" {{#isSelectedRole 1}} checked{{/isSelectedRole}}><p>Admin</p>
                  </div>
                   <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" value="1" id="flexCheckDefault" {{#isSelectedRole 2}} checked{{/isSelectedRole}}><p>Author</p>
                  </div>

                 
                   {{/each}}
                  <div class="text-center">
                    <button type="submit" class="btn my-4 mb-2" style="">UPDATE USER</button>
                  </div>
                 
                </form>
              </div>
            </div>
        </div>
      </div>
     
    </div>